{"database_username": "DATABASE_USERNAME","database_password": "DATABASE_PASSWORD","bot_token": "BOT_TOKEN", "bot_username": "BOT_USERNAME", "italy_link": "https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-json/dpc-covid19-ita-andamento-nazionale.json", "regions_link": "https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-json/dpc-covid19-ita-regioni.json", "province_link": "https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-json/dpc-covid19-ita-province.json", "force_download": false, "database_filename": "db.sqlite3", "connection_pool_size": 100}